@model LocalSpirits.Models.Profile.ProfileDetail
@if (Model.Notifications != null)
{
    if (Model.Notifications.Count() > 0)
    {
        <a href='@Url.Action("HomeProfile", "Profile")'>
            <img src="~/assets/img/Notifications.png" width="25" height="25" />
            <span class="badge"> @Html.Raw(Model.Notifications.Count())</span>
        </a>
    }
    else
    {
<a href='@Url.Action("HomeProfile", "Profile")'>
    <img src="~/assets/img/Notifications.png" width="25" height="25" />
</a>
    }
}
