@model LocalSpirits.Models.ActivityFeed.ActivityFeedListItem


@if (Model.AmountOfComments > 0)
{
    <p>
    <a href="@Url.Content($"~/Profile/GetPost/{Model.ID}")" class="glyphicon glyphicon-comment" data-toggle="viewAllComments"
       data-id="@Html.Raw(Model.ID)" style="font-size:20px!important; text-decoration: none;"></a> @Html.Raw(Model.AmountOfComments)

    </p>
}


