@model LocalSpirits.Models.Comment.CommentListItem

@if (Model.AmountOfReplies > 0)
{
    <p>
        <a href="@Url.Content($"~/Profile/GetComment/{Model.CommentID}")" class="glyphicon glyphicon-comment" data-toggle="viewAllComments"
           data-id="@Html.Raw(Model.CommentID)" style="font-size:20px!important; text-decoration: none;"></a> @Html.Raw(Model.AmountOfReplies)

    </p>
}


