



@using (Html.BeginForm("Index", "City", "Index"))
{

    <div class="nav navbar-nav" style="margin-top:12px">
        <div class="form-group">

            <div>
                @Html.TextBox("id", "", new { htmlAttributes = new { @class = "form-control" } })
                <input type="submit" value="Search" class="btn btn-primary btn-xs" />

            </div>
        </div>
    </div>
}
@using (Html.BeginForm())
{

}