@model IEnumerable<LocalSpirits.Models.City.CityListItem>

@{
    ViewBag.Title = $"{Model.ToList()[0].State}";
}



@if (Model.Count() == 0)
{
    <table class="table">
        <tr>
            <th>
                <p>No Results</p>
            </th>
            <th></th>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th>
                <p>@Html.ActionLink("Search Again", "Index")</p>
            </th>
        </tr>
    </table>
   
}
else
{
<h2></h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink($"{item.Name}", "Details", new { id = item.ID })
                    @*@Html.DisplayFor(modelItem => item.Name)*@
                </td>
            </tr>
        }

    </table>


    <p>
        @Html.ActionLink("Go Back", "Index")
    </p>
}
