body {
    padding-top: 60px;
    padding-bottom: 20px;
}

 set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#search {
    margin-left: 10px !important;
    margin-top: 12px !important;
}
.time {
    font-size: 12px;
}

.noborders td {
        border:0;
    }

override the default bootstrap behavior where horizontal description lists
will truncate terms that are too long to fit in the left column


.dl-horizontal-friend dt {
    float: left;
    width: 120px!important;
    clear: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal-request dt {
    float: left;
    width: 135px !important;
    clear: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal-business dt {
    float: left;
    width: 135px !important;
    clear: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 60px;
}

/*a {
    color: #FF4D00!important;*/
    /*#FF8C00;*/
    /*text-decoration: none;
}*/
textarea {
    max-width: 280px;
}

.navbar-custom {
    background-color: #CCF0C8
}
.navbar-brand {
    color: black !important
}

    .navbar-brand:visited {
        color: black !important
    }
.nav li a {
    color: #FFF;
}
.glyphicon {
    font-size: 30px !important;
}