body {
    padding-top: 60px;
    padding-bottom: 20px;
}

 set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#search {
    margin-left: 10px !important;
    margin-top: 12px !important;
}
.time {
    font-size: 12px;
}

.noborders td {
        border:0;
    }

override the default bootstrap behavior where horizontal description lists
will truncate terms that are too long to fit in the left column


.dl-horizontal-friend dt {
    float: left;
    width: 120px!important;
    clear: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal-request dt {
    float: left;
    width: 135px !important;
    clear: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal-business dt {
    float: left;
    width: 135px !important;
    clear: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 60px;
}

/*a {
    color: #FF4D00!important;*/
    /*#FF8C00;*/
    /*text-decoration: none;
}*/
textarea {
    max-width: 280px;
}

.navbar-custom {
    background-color: #CCF0C8
}
.navbar-brand {
    color: black !important
}

    .navbar-brand:visited {
        color: black !important
    }
.nav li a {
    color: #FFF;
}
dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.glyphicon {
    font-size: 30px !important;
    color: #ff4033
}