@model IEnumerable<LocalSpirits.Models.Profile.ProfileDetail>

@{
    ViewBag.Title = "FriendsList";
}
<div class="container">
    <div class="row my-5">

        <div class="col-sm-6 col-md-6 my-6">
            <h2>Friends List</h2>

            @if (Model.Count() != 0)
            {

                foreach (var item in Model)
                {

                    if (item.City != null)
                    {
                        <div class="panel panel-warning" style="width: 22rem;">
                            <dl class="dl-horizontal-friend">
                                <dt> @Html.ActionLink($"{item.FullName}", "Index", "Profile", new { id = item.Username }, null)</dt>
                                <dd>
                                    @Html.ActionLink("Remove", $"RemoveFriend/{item.Username}", "Friends", null, new { @class = "btn btn-warning btn-xs" })
                                </dd>
                            </dl>
                        </div>


                    }


                }
            }
        </div>

        <div class="col-sm-6 col-md-6 my-6">
            <h2>Friend Requests</h2>
            @Html.Action("FriendRequests")

        </div>

    </div>
</div>




