@model IEnumerable<LocalSpirits.Models.Friends.FriendRequestListItem>

@if (Model.Count() != 0)
{

    foreach (var item in Model)
    {

        <div class="panel panel-warning" style="width: 25rem;">
            <dl class="dl-horizontal-request">
                <dt>
                    @Html.ActionLink($"{item.FullName}", "Index", "Profile", new { id = item.Username }, null)
                </dt>
                <dd>
                    @Html.ActionLink("Accept", $"AcceptFriendRequest/{item.Username}", "Friends", null, new { @class = "btn btn-warning btn-xs" })
                    @Html.ActionLink("Decline", $"CancelFriendRequest/{item.Username}", "Friends", null, new { @class = "btn btn-warning btn-xs" })
                </dd>
            </dl>
        </div>
    }
    if (Model.Count() == 0)
    {
        <p>No Friend Requests</p>
    }
}


